$color1: #222831;
$color2: #393E46;
$color3: #FFD369;
$color4: #EEEEEE;
$color5: #000000;
$color6: #D0E8F2;
$color7: #79A3B1;
$color8: #456268;

html {
    overflow: hidden;
}

body {
    margin: 0px;
    padding: 0px;
    display: block;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 16.5%;
    box-sizing: border-box;
    color: $color4;
    --bs-body-color: $color4;
}

.small-screen-wrapper{
    display: none;
    @media screen and (max-width: 992px) {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        .text{
            text-align: center;
            font-size: 2rem;
            font-weight: 500;
            color: $color6;

        }
    }
}
.page-wrapper {
    background-color: $color5;
    display: block;
    @media screen and (max-width: 992px) {
        display: none;
    }
    .page-container {
        display: flex;
        padding: 0px;
        .nav-wrapper {
            height: 100vh;
            width: auto;
            min-width: 250px;
            padding: 20px 20px;
            border-right: 2px solid $color1;
            position: relative;
            background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(16, 19, 23) 100%);

            .btn-expand {
                position: absolute;
                height: 28px;
                width: 28px;
                background-color: $color2;
                border-radius: 50%;
                top: 10%;
                right: -15px;
                cursor: pointer;
                display: none;
            }

            .nav-container {
                padding: 0px 0px;
                position: relative;
                height: 100%;

                .logo-wrapper {
                    padding: 20px 0px;
                    padding-bottom: 50px;

                    .logo-text {
                        color: $color3;
                        font-size: 1.5rem;
                        font-weight: 600;
                    }
                }

                .nav-options-wrapper {
                    padding: 0px 0px;

                    .nav-menu {
                        font-size: 1rem;
                        padding: 10px 12px;
                        margin-bottom: 5px;
                        transition: 0.2s;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        cursor: pointer;
                        color: $color6;
                        white-space: nowrap;
                        transition: 0.2s;

                        &.active {
                            transition: 0.2s;
                            background-color: $color1;
                            color: $color4;
                            border-radius: 10px;
                            font-weight: 600;
                        }

                        &:hover {
                            color: $color3;
                            transition: 0.2s;
                        }

                        .nav-text {
                            padding: 0px 10px;
                        }
                    }

                    .seperater {
                        background: $color1;
                        height: 1px;
                        margin: 15px 10px;
                    }
                }

                .about-button {
                    position: absolute;
                    bottom: 0px;
                    width: 100%;

                    button {
                        width: 100%;
                        padding: 10px 10px;
                        border: 0px;
                        border-radius: 5px;
                        font-size: 0.8rem;
                        font-weight: 600;
                        background-color: $color1;
                        color: $color4;
                        transition: 0.2s;
                        cursor: pointer;

                        &:hover {
                            background-color: $color7;
                            color: $color5;
                            transition: 0.2s;
                        }

                        &.active {
                            background-color: $color7;
                            color: $color5;
                            transition: 0.2s;
                        }
                    }
                }
            }
        }

        .main-wrapper {
            height: 100vh;
            width: 100%;
            overflow-y: auto;
            background-color: $color5;

            // overflow-x: hidden;
            .chart-wrapper {
                padding: 40px 40px;
                text-align: center;
                min-height: 100vh;
                .project-description-wrapper{
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    padding-top: 20px;
                    @media screen and (max-width: 1200px) {
                        align-items: start;
                    }
                    .project-description{
                        width: 50%;
                        text-align: left;
                        .text{
                            font-size: 1.2rem;
                            padding: 20px 0px;
                            line-height: 2rem;
                        }
                    }
                    .snaps-wrapper{
                        position: relative;
                        width: 100%;
                        min-height: 450px;
                        .snapshot{
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            border-radius: 5px;
                            padding: 10px 10px;
                            border: 5px solid $color8;
                            background-color: #000000;
                            box-shadow: $color8 0px 10px 36px 0px, $color8 0px 0px 0px 1px;
                            transition: 0.2s;
                            cursor: pointer;
                            &.one{
                                top: 0%;
                                left: 40%;
                                &:hover{
                                    transition: 0.2s;
                                    transform: rotate(2deg) scale(1.1);
                                }
                                
                            }
                            &.two{
                                top: 25%;
                                left: 20%;
                                &:hover{
                                    transition: 0.2s;
                                    transform: rotate(-2deg) scale(1.1);
                                }
                            }
                            &.three{
                                top: 50%;
                                left: 40%;
                                &:hover{
                                    transition: 0.2s;
                                    transform: rotate(2deg) scale(1.1);
                                }
                            }
                            &.four{
                                top: 75%;
                                left: 20%;
                                &:hover{
                                    transition: 0.2s;
                                    transform: rotate(-2deg) scale(1.1);
                                }
                            }
                        }
                    }
                }
                .table-wrapper {
                    .table {
                        border: 1px solid $color2;
                        border-radius: 5px;

                        tbody,
                        thead {
                            th {
                                font-size: 1rem;
                            }

                            tr {
                                th {
                                    padding: 10px 10px;
                                    font-size: 1rem;
                                }

                                td {
                                    padding: 10px 10px;
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }

                .title {
                    width: 100%;
                    font-size: 1.8rem;
                    font-weight: 600;
                    text-align: left;
                    color: $color7;
                    padding-bottom: 20px;
                }

                .description {
                    width: 100%;
                    font-size: 1.1rem;
                    text-align: left;
                    padding-bottom: 40px;
                    color: $color4;
                }

                .map-wrapper {
                    display: flex;
                    align-items: start;
                    justify-content: start;
                    @media screen and (max-width: 1400px) {
                        display: block;
                    }
                    .map-container {
                        border: 2px solid $color6;
                        border-radius: 5px;
                        #us-map{
                            overflow: hidden;
                        }
                    }

                    .data-wrapper {
                        border: 2px solid $color6;
                        border-radius: 5px;
                        margin-left: 25px;
                        padding: 20px 25px;
                        width: 320px;
                        position: relative;
                        text-align: left;
                        background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(16, 19, 23) 100%);
                        @media screen and (max-width: 1400px) {
                            margin: 25px 0px;
                        }
                        .selection-overlay {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: $color5;
                            color: $color3;
                            font-size: 1.1rem;
                            text-align: center;
                            padding: 20px 40px;
                            opacity: 0.9;
                            transition: 0.2s;
                        }

                        .state-name {
                            font-size: 1.5rem;
                            color: $color3;
                            padding-bottom: 15px;
                            padding-top: 10px;
                            margin-bottom: 15px;
                            font-weight: 500;
                            border-bottom: 1px solid $color3;

                            .value {
                                font-weight: 600;
                                font-size: 1.7rem;
                            }
                        }

                        .population-count {
                            font-size: 1rem;
                            font-weight: 500;
                            padding: 12px 0px;
                            color: $color6;

                            .value {
                                font-weight: 600;
                                border-radius: 5px;
                                padding: 5px 7px;
                                background-color: $color3;
                                color: $color5;
                                margin-left: 5px;
                            }
                        }
                    }

                }

                .clock-wrapper {
                   

                    .clock-container {
                        text-align: center;
                        display: block;
                        padding: 20px 20px;
                        min-height: 100%;
                        .timezone {
                            font-size: 1.1rem;
                            min-height: 80px;
                            color: $color7;
                            text-align: center;
                            width: 100%;
                            border-radius: 5px;
                            font-weight: 600;
                            padding: 15px 5px;
                            text-align: center;
                        }

                        .clock {
                            text-align: center;
                            border: 2px solid $color2;
                            border-radius: 50%;
                            background: radial-gradient(circle, $color8 0%, $color5 100%);
                        }
                    }

                }

                .word-cloud-wrapper {
                    .cloud-container {
                        padding: 40px 40px;
                    }

                    .features-wrapper {
                        display: flex;
                        justify-content: space-around;
                        padding: 40px 20px;

                        .features {
                            text-align: left;
                            border: 2px solid #79A3B1;
                            border-radius: 5px;
                            padding: 20px 20px;
                            min-width: 320px;
                            position: relative;
                            text-align: left;
                            background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(16, 19, 23) 100%);
                            max-height: fit-content;
                            div {
                                font-size: 1.2rem;
                                color: $color4;
                                font-weight: 600;
                                padding: 10px 10px;
                            }

                            ul {
                                padding: 5px 20px;

                                li {
                                    font-size: 1rem;
                                    font-weight: 600;
                                    color: $color6;
                                    padding: 5px 10px;
                                }
                            }
                        }

                        .new-word {
                            text-align: left;
                            border: 2px solid #79A3B1;
                            border-radius: 5px;
                            padding: 25px 25px;
                            min-width: 320px;
                            position: relative;
                            text-align: left;
                            background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(16, 19, 23) 100%);
                            margin-left: 40px;
                            .title {
                                font-size: 1.2rem;
                                color: $color4;
                                font-weight: 600;
                                padding: 15px;
                                padding-bottom: 20px;
                            }

                            .form-field {
                                width: 100%;
                                padding: 10px 0px;

                                input,
                                select {
                                    width: 100%;
                                    height: 40px;
                                    text-decoration: none;
                                    background-color: $color5;
                                    border: 0px;
                                    border-radius: 5px;
                                    padding: 0px 5px;
                                    font-size: 1rem;
                                }
                            }

                            .btn-submit {
                                width: 100%;
                                padding: 10px 10px;
                                border: 0px;
                                border-radius: 5px;
                                font-size: 0.8rem;
                                font-weight: 600;
                                background-color: #222831;
                                color: #EEEEEE;
                                transition: 0.2s;
                                cursor: pointer;
                                margin-top: 20px;
                            }
                        }
                    }
                }

                .treemap-wrapper {
                    text-align: center;

                    .treemap {}

                    .treemap-controls {
                        padding: 20px 20px;
                        padding-bottom: 25px;
                        width: 100%;

                        label {
                            font-size: 1rem;
                            width: 100px;
                            color: $color4;
                            font-weight: 600;
                        }

                        select {
                            height: 40px;
                            width: 100px;
                            text-decoration: none;
                            background-color: $color8;
                            border: 0px;
                            border-radius: 5px;
                            padding: 0px 5px;
                            font-size: 1rem;
                            color: $color4;
                            font-weight: 600;
                        }
                    }
                }

                .bar-charts {
                    .bar-chart-wrapper {
                        padding: 20px 0px;

                        .title {
                            font-size: 1.2rem;
                            text-align: center;
                            color: $color3;
                        }
                    }
                }

            }
            .line-seperater{
                height: 1px;
                margin: 0px 40px;
                background-color: $color1;
            }

            .footer {
                .text{
                    color: $color6;
                    font-size: 1rem;
                    padding: 40px;
                    text-align: center;
                    width: 100%;
                    a{
                        color: $color6;
                        font-weight: 600;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}