$color1: #222831;
$color2: #393E46;
$color3: #FFD369;
$color4: #EEEEEE;
$color5: #000000;
$color6: #79A3B1;
$color7: #FCF8EC;
$color8: #456268;

body {
    margin: 0px;
    padding: 0px;
    display: block;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 16.5%;
    box-sizing: border-box;
    color: $color4;
}

.page-wrapper {
    background-color: $color5;
    .header-wrapper{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        padding: 0px 20px;
        // background-color: $color1;
        .header-container{
            padding: 20px 0px;
            .logo-container{
                font-size: 1.5rem;
                font-size: 600;
                color: $color3;
            }
        }
    }
    .page-container{
        display: flex;
        .nav-wrapper{
            height: 100vh;
            width: auto;
            padding: 20px 20px;
            border-right: 2px solid $color1;
            position: relative;
            .btn-expand{
                position: absolute;
                height: 28px;
                width: 28px;
                background-color: $color2;
                border-radius: 50%;
                top: 10%;
                right: -15px;
                cursor: pointer;
            }
            .nav-container{
                padding: 0px 0px;
                .logo-wrapper{
                    padding: 20px 0px;
                    padding-bottom: 50px;
                    .logo-text{
                        color: $color3;
                        font-size: 1.5rem;
                        font-weight: 600;
                    }
                }
                .nav-options-wrapper{
                    padding: 0px 0px;
                    .nav-menu{
                        font-size: 1rem;
                        padding: 12px 12px;
                        transition: 0.2s;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        cursor: pointer;
                        color: $color6;
                        white-space: nowrap;
                        &.active{
                            transition: 0.2s;
                            background-color: $color1;
                            color: $color4;
                            border-radius: 10px;
                            font-weight: 600;
                        }
                        .icon-wrap{

                        }
                        .nav-text{
                            padding: 0px 10px;
                        }
                    }
                }
            }
        }
        .main-wrapper{
            padding-top: 75px;
            height: 100vh;
            width: 100%;
            overflow-y: auto;
            background-color: $color5;
            .chart-wrapper{
                padding: 20px 0px;
                justify-content: center;
                min-height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .table-wrapper{
                    .table{
                        border: 1px solid $color2;
                        border-radius: 5px;
                        tbody, thead{
                            th{
                                font-size: 1rem;
                            }
                            tr{
                                th{
                                    padding: 10px 10px;
                                    font-size: 1rem;
                                }
                                td{
                                    padding: 10px 10px;
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }
            }
            .map-wrapper{
                display: flex;
                align-items: center;
                justify-content: center;
                .map-container{
                    border: 2px solid $color6;
                    border-radius: 5px;
                }
                .data-wrapper{
                    border: 2px solid $color6;
                    border-radius: 5px;
                    margin-left: 20px;
                    padding: 10px 20px;
                    min-width: 300px;
                    position: relative;
                    .selection-overlay{
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $color5;
                        color: $color3;
                        font-size: 1.1rem;
                        text-align: center;
                        padding: 20px 40px;
                        opacity: 0.9;
                        transition: 0.2s;
                    }
                    .state-name{
                        font-size: 1.5rem;
                        color: $color3;
                        padding: 20px 0px;
                        margin-bottom: 10px;
                        border-bottom: 1px solid $color3;
                        .value{
                            font-weight: 600;
                            font-size: 1.5rem;
                        }
                    }
                    .population-count{
                        font-size: 1rem;
                        font-weight: 500;
                        padding: 10px 0px;
                        color: $color6;
                        .value{
                            font-weight: 600;
                            border-radius: 5px;
                            padding: 5px 7px;
                            background-color: $color3;
                            color: $color5;
                            margin-left: 5px;
                        }
                    }
                }
                
            }
        }
    }
}